@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #322E2E;
}
header {
    height: 100px;
    background-color: #D9D9D9;
}
#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #da0112;

}
#menu {
    line-height: 140px;
}
#logo {
    line-height: 100px;
}

/*Navigation styling*/

#menu li {
    float:right;
    margin-right: 30px;
    list-style-type: none;
}
#menu a {
    text-decoration: none;
    color: #3a3a3a;
    font-weight: bold;
}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
    font-size:110%;
}

#main-image {
    height: 500px;
    background: url("../images/head-image-2.webp") no-repeat center center;
    background-size: cover;
}
#main-image-section{
    position: relative;
}
#cover-text{
    position: absolute;
    top: 70px;
    left: 50px;
    width: 50%;
    /* background-color: #D9D9D9; */
    background-color: rgba(217,217,217,0.6);
    padding: 4%;

}
#cover-text h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 350%;
    font-weight: bold;
    color: #322E2E;
}
#cover-text h1>span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 70%;
    font-weight: bold;
    color: #322E2E;
}
/*Short description sectio*/

#short-description-section{
    background-color: #322E2E;
    padding: 20px 0;
    
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1px;
    width: 80%;
    background-color: #f3ebeb;
    color: #D9D9D9;
    margin: 0 auto 0 auto;
    padding: 0;
    
     
  }
  .grid-container > div {
    background-color: #322E2E;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 14px;
    padding: 20px;
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
  }
  .short-desc {
    text-align: justify;

}

.short-desc h4 {
     font-size: 120%;
     margin-bottom: 10px;

}


/*Full description*/
#full-desctipiton-section {
    background-color: #615D5D;
}
#full-desctipiton-section h2 {
    color: #D9D9D9;
    text-align: center;
    line-height: 50px;
}
#full-desctipiton-section p {
    color: #D9D9D9;
}
#full-desctipiton-section>div {
    margin-bottom: 40px;
}

.full-desc-left{
    width: 400px;
    float: left;

}
.full-desc-right{
    width: 400px;
    float: left;

}

#product-links-section{
    clear: both;
}