@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #322E2E;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}
#menu, #logo {
    line-height: 75px;
}

/*Navigation styling*/

#menu li {
    float:right;
    margin-right: 30px;
    list-style-type: none;
}
#menu a {
    text-decoration: none;
}
#menu a:hover {
    border-bottom: 5px solid #3a3a3a;
}